// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-title img {
    max-height: 39px;
    margin-top: 6px;
  }
  
  ion-menu {
  
      ion-content {
          --background: url('/assets/images/login-background.png') 40%;
          text-align: center;
      }
  
      ion-list {
          --ion-item-background: transparent !important;
          margin-top: 44px;
      }
  
      ion-item {
          color: #fff;
      }
  
  }